<!DOCTYPE html>
<% if current_user == nil %>
   <% redirect_to "/login" %>
   else
    <%=current_user.name %>
    <img src="<%= current_user.image%>" class ="logo">
    <% end %>
  
<html>
  <head>
    <title>Woofer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<style>
.logo {
width: 100px;
height: 100px;
border-radius: 50%;
}
</style>


    
